<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Console/</directory>
                <file>src/Playable.php</file>
                <file>src/FileRead.php</file>
                <file>src/Day1/Play.php</file>
                <file>src/Day2/Play.php</file>
                <file>src/Day3/Play.php</file>
                <file>src/Day4/Play.php</file>
                <file>src/Day5/Play.php</file>
                <file>src/Day6/Play.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
